a {
	text-decoration: none;
	/* color: black; */
}

a:hover {
    text-decoration-color: FireBrick;
    text-decoration:underline;
    text-decoration-thickness: 0.25rem;
}

ul, li {
	list-style: none;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 2rem;
    color: black;
}

.content { padding: 2rem; }

input {
    text-align: right;
}

pre {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.2);
}
pre i {
    color: slategray;
}

div.gallery {
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 1rem;
    color: darkslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}

* {
    box-sizing: border-box;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.responsive {
    padding: 0.5rem;
    width: 10rem;
}

.modal {
    display: none;
    width: 100%; 
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.2s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
    width: 30%;
    margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
    width: 15%;
    }
}

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 90%;
    }
  }