<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="container">
            <input type="checkbox" id="drop-down-cbox"/>
            <label for="drop-down-cbox">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <h1 class="site-logo"><a href="{{ url_for('index') }}">Cancer Predictor</a></h1>
            <ul class="main-nav">
                <li><a href="{{ url_for('background') }}">Background</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="mailto:craigmbodo@gmail.com?subject=Cancer Predictor Web App">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>